.cardCartSection {
	width: 80%;
	display: flex;
	align-items: center;
	border: 1px solid #c5c5c5;
	border-radius: 24px;
	justify-content: space-between;
	padding: 10px;

	&__img {
		display: flex;
		align-items: center;
		gap: 10px;
		img {
			width: 130px;
			height: 130px;
		}
		&__info {
			h3 {
				font-size: 24px;
				font-weight: 700;
			}
			p {
				font-size: 18px;
				font-weight: 400;
				color: rgb(141, 141, 141);
			}
		}
	}

	&__info {
		display: flex;
		gap: 5px;
		&__price {
			b {
				font-size: 18px;
			}
		}

		&__footer {
			display: flex;
			align-items: center;
			gap: 20px;
			img {
				cursor: pointer;
			}
		}
	}

	@media (max-width: 769px) {
		width: 100%;
		&__img {
			img {
				width: 37%;
				height: 13vw;
			}
			&__info {
				h3 {
					font-size: 16px;
				}
				p {
					font-size: 14px;
				}
			}
		}
	}

	@media (max-width: 425px) {
		padding: 5px;
		&__info {
			h3 {
				font-size: 14px;
			}
			p {
				font-size: 12px;
			}
		}
		&__img {
			img {
				width: 35%;
				height: 20vw;
			}
		}

		&__footer {
			img {
				width: 25px;
				height: 25px;
			}
		}

		&__price {
			b {
				font-size: 16px;
			}
		}
	}
}
